{% load bootstrap3 %}
{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}



<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/dashboard/#">Code-Viewer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <br><br><br>
            {% if repo_list %}	    
	    {% for repo in repo_list %}
            <li><a href="{{ repo.repo_url }}">{{ repo.repo_name }}</a></li>
	    {% endfor %}
	   
	    {% else %}
	    <li>No repos are available.</li>
	    {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-sm-10 col-sm-offset-2 main">
          <h1 class="page-header">Repository</h1>
	  
        </div>
      </div>
    </div>
</body>
