.navbar-white {
  background-color: #616161;
  background-image: -moz-linear-gradient(top, #616161, #616161);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#616161), to(#616161));
  /* background-image: -webkit-linear-gradient(top, #222222, #111111); */
  background-image: -o-linear-gradient(top, #616161, #616161);
  /* background-image: linear-gradient(to bottom, #222222, #111111); */
  /* background-repeat: repeat-x; */
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#616161', GradientType=0);
}
.navbar .nav> li > a {
    color: #FFFFFF;
}

.shiftleft { margin-left: 5px; }

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
