<div class="bugHeader">
  <div class="span4 voffset1">
    <a href="/bugs/{{ project.id }}"><b>Overview</b></a>
    <a href="/bugs/{{ project.id }}/new-issue"><b>New Issue</b></a>
    <a href="/bugs/{{ project.id }}/issues"><b>All Issues</b></a>
  </div>
  <div class="span4 offset3">
    <form class="bugSearch ">
      <input type="text" class="search-query" placeholder="Search Issues">
      <input type="image" src="{{ STATIC_URL }}img/search16.png" alt="Submit Search">
    </form>
  </div>
</div>
