{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project Bugs</h3>
{% include "bug-header.html" %}
<table class="table table-striped voffset2">
  <thead>
    <tr>
      <th>
	Bug Name
      </th>
      <th>Details</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tr>
    <td>
      <img alt="Message" height="16" src="{{ STATIC_URL }}img/bug16.png">
      Broken Link 
    </td>
    <td>Broken link found on the...</td>
    <td>1 hour ago</td>  
  </tr>
  <tr>
    <td>
      <img alt="Message" height="16" src="{{ STATIC_URL }}img/bug16.png">
      Authentication problem? 
    </td>
    <td>Latest update broke authe...</td>
    <td>3 days ago</td>
  </tr>
  <tr>
    <td>
      <img alt="Message" height="16" src="{{ STATIC_URL }}img/bug16.png">
      Splash page
    </td>
    <td>Splash page is currently... </td>
    <td>2 years ago</td>
  </tr>
</table>

</div>

</div>
{% endblock %}
