{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project Bugs</h3>
{% include "bug-header.html" %}

<br>
<div class="bug-unit">
{{ bug.created_date }} - <b> {{ bug.creator }} - Issue Created</b>
<br>
<em>Subject:</em> {{ bug.name }}
<hr class="bug-hr">
<p>{{ bug.description }}</p>
</div>

{% for comment in comments %}
<div class="bug-unit">
{{ comment.created_date }} - <b> {{ comment.creator }} - Comment Added</b>
<hr class="bug-hr">
{{ comment.comment }}
</div>
{% endfor %}

<br>   
   <form action="/bugs/{{ project.id }}/issues/{{ bug.id }}/" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {% load widget_tweaks %}
   <p> Add a comment: </p>
   {{ bug_form.comment|add_class:"comment" }}
   <input type="submit" value="Submit" />
   </form>



</div>



</div>
{% endblock %}
