{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project Bugs</h3>
{% include "bug-header.html" %}

<br>
<h4>All Issues</h4>
<table class="table table-striped voffset2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created</th>
    </tr>
  </thead>
  {% for issue in issues %}
  <tr>
    <td><a href="/bugs/{{ project.id}}/issues/{{ issue.id }}/">{{ issue.name }}</a></td>
    <td>{{ issue.description }}</td>
    <td>{{ issue.created_date }}</td>  
  </tr>
   {% endfor %}
</table>

</div>

</div>
{% endblock %}
