{% extends "profiles-base.html" %}


{% block container %}


<div class="container voffset8">
  <h3>{{ user.username }}</h3>

        {% if updated %}
        Your profile has been updated!
        <a href="/profiles/">Return to your profile</a><br />
        {% else %}
        <form id="edit_form" method="post" action="/profiles/edit/"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <input type="submit" name="submit" value="Update" />
        </form>
        {% endif %}



</div>

{% endblock %}
