{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project</h3>
<p>Project description goes here</p>
<br>
 <div class="filePreviewBox">
	<div class="filePreviewHeader">
	  <b>Activity Feed</b>
	</div>
	<div class="filePreviewText">
          <table class="table ">
	    <tr class="info">
	      <td><b>Commit Message 1</b></td>
	      <td>User authored at Feb 2,2015</td>
	      <td>50d1733</td>
	    </tr>
	    <tr class="info">
	      <td><b>Commit Message 2</b></td>
	      <td>User authored at Feb 4,2015</td>
	      <td>b2063cc0</td>
	    </tr>
	  </table>
	</div>
      </div>
</div>
{% endblock %}
