{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project Code</h3>

{% if project.clone_status %}
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Name
	    </th>
	    <th>Last Update</th>
	    <th>Commit Message </th>
	  </tr>
	</thead>

{% for d in directories %}
	  <tr>
	    <td>
	      <img alt="Directory" height="16" src="{{ STATIC_URL }}img/folder16.png">{{ d }}
	    </td>
	    <td>Update</td>
	    <td>Message </td>
	  </tr>
{% endfor %}
{% for f in files %}
	  <tr>
	    <td>
	          <img alt="File" height="16" src="{{ STATIC_URL }}img/text16.png">{{ f }}
	    </td>
	    <td>Update</td>
	    <td>Message </td>
	  </tr>
{% endfor %}
</table>
{% if readme %}
      <div class="filePreviewBox">
	<div class="filePreviewHeader">
	  <b>README.md</b>
	</div>
	<div class="filePreviewText">
	     {{ readme }}
	</div>
      </div>
{% endif %}
{% else %}
      {% if failed %}
        <p>Repository failed to clone. Please check that the repository url is correct.</p>
      {% elif project.git_url %}
        <p>This repository has not been setup yet. Repository needs to be cloned.</p>
         <form action="/projects/{{ project.id }}/code/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
	    <input type="submit" value="Clone Repo" />
	 </form>

      {% else %}
         <p>This repository has not been setup yet. Please setup the git url for your project. </p>
      {% endif %}  
{% endif %}

</div>
{% endblock %}
