{% extends "base.html" %}

{% block body %}  
{% block container %}
<div class="container">
  <div class="row voffset4">
	<div class="span8">
	  <h1>Public Projects </h1>
	  <form class="search pull-left voffset2">
		  <input type="text" class="search-query" placeholder="Search">
	  </form>
	  <div class="btn-group shiftleft ">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Order By <span class="caret"></span>
	    </button>
	  </div>
	  <br>
	  {% for project in project_list %}
          <br>
	  <div class="voffset2">
	    <p>
	      <h3 style="margin: 0px;"><a href="/projects/{{ project.id }}"> {{ project.proj_name }}</a></h3>
	      <em>{{ project.owner }}</em> - {{ project.pub_date }}<br>
	      <b>{{ project.proj_desc }}</b><br>
	  </p>
           </div>
	  {% endfor %}
         </div>
        
	<div class="span3 offset voffset6">
	  <div class="well"
	  <p>Search Filters</p>
	  </div>
	</div>
     </div>
</div>
{% endblock %}
{% endblock %}

    


