{% extends "project-base.html" %}

{% block container %}
<div class="container voffset8">
<h3>Project Files</h3>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Name
	    </th>
	    <th>Last Update</th>
	  </tr>
	</thead>
{% for file in file_list %}
	  <tr>
	    <td>
	      <img alt="File" height="16" src="{{ STATIC_URL }}img/text16.png">
	      {{ file.pfile.name }}
	    </td>
	    <td>A day ago</td>
	  </tr>
{% endfor %}
</table>
<h3>New  File</h3>
{% if created %}
  <p>File has been uploaded!</p>
{% else %}
  <form action="/projects/{{ project.id }}/files/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endif %}


</div>
{% endblock %}
