{% extends "base.html" %}

{% block container %}  
<div class="row voffset4">
	<div class="span8">
	  <h1>Public Projects </h1>
	  <form class="search pull-left voffset2">
		  <input type="text" class="search-query" placeholder="Search">
	  </form>
	  <div class="btn-group shiftleft ">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Order By <span class="caret"></span>
	    </button>
	  </div>
	  <div class="voffset2">
	  <br>
	  <p>
	    <h3>Project Title</h3>
	    Description of project goes here
	  </p>
	    <ul class="dropdown-menu offset" role="menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div>
	  <div class="voffset2">
	  <br>
	  <p>
	    <h3>Another Project Title</h3>
	    Description of project goes here
	  </p>
	    <ul class="dropdown-menu offset" role="menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div>
	</div>
	<div class="span3 offset voffset6">
	  <div class="well"
	  <p>Search Filters</p>
	  </div>
	</div>
      </div>

{% endblock %}
    


