{% extends "base.html" %}

{% block body %}
<div class="navbar navbar-fixed-top" >
    <div class="navbar-white">
          <div class="container">
              <div class="nav-collapse collapse">
		<ul class="nav">
		  <li><a href="/projects">Home</a></li>
		  <li><a href="/projects/files">Files</a></li>
		  <li><a href="/projects/code">Code</a></li>
		  <li><a href="/bugs">Issues</a></li>
		  {% if request.user.is_superuser %}
		  <li><a href="/projects/settings">Settings</a></li>
		  {% endif %}
		</ul>
	      </div>
	  </div>
    </div>
</div>

{% block container %}
<div class="container">
</div>
{% endblock %}
{% endblock %}

    


