{% extends "base-gantt.html" %}

{% block body %}
<div class="navbar navbar-fixed-top" >
    <div class="navbar-white">
          <div class="container">
              <div class="nav-collapse collapse">
		<ul class="nav">
		  <li><a href="/projects/{{ project.id }}">Home</a></li>
		  <li><a href="/projects/{{ project.id }}/files">Files</a></li>
		  <li><a href="/projects/{{ project.id }}/code">Code</a></li>
		  <li><a href="/bugs/{{ project.id }}">Issues</a></li>
		  <li><a href="/projects/{{ project.id }}/calendar">Calender</a></li>
		  <li><a href="/projects/{{ project.id }}/gantt">Gantt</a></li>
		  {% if request.user.is_superuser %}
		  <li><a href="/projects/{{ project.id }}/settings">Settings</a></li>
		  {% endif %}
		</ul>
	      </div>
	  </div>
    </div>
</div>

{% block container %}
<div class="container">
</div>
{% endblock %}
{% endblock %}

    


